.polaroid {
    background-color: var(--light-purple);
    box-sizing: border-box;
    box-shadow: 5px 5px 15px -7px var(--purple);

    height: 9cm;
    width: 7cm;
    gap: 1em;
    padding: 1em;

    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    user-select: none;
}

.photo {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.subTitle {
    background-color: var(--light-purple);
    color: var(--purple);
	text-align: center;
}

.imageButton {
	visibility: visible;
}