.dropdown-content {
	display: flex;
	flex-direction: column;
	gap: 1em;
	white-space: nowrap;
}

.dropdown-content p {
	display: flex;
	gap: 0.5em;
	align-items: center;
	padding: 0.2em 0.5em;
	border-radius: 5px;
	border: 1px solid var(--pink);
	color: var(--pink);
}

.selectGrid {
	color: var(--pink);

	display: flex;
	gap: 0.25em;

	border-radius: 5px;
}