.dropdown-content {
	display: flex;
	flex-direction: column;
	gap: 1em;
	white-space: nowrap;
}

.dropdown-content p {
	display: flex;
	gap: 0.5em;
	align-items: center;
	padding: 0.2em 0.5em;
	border-radius: 5px;
	border: 1px solid var(--pink);
	color: var(--pink);
}

.selectGrid {
	color: var(--pink);

	display: flex;
	gap: 0.25em;

	border-radius: 5px;
}

.albumContainer {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	gap: 0.5em;
}

.albumConfig {
	visibility: visible;
	right: 0.5em;
	top: 0.5em;
}