.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    top: 120%;
    right: 0;
    background-color: var(--light-purple);
    box-shadow: 5px 5px 20px -5px var(--purple);
    z-index: 1;
    border-radius: 5px;
    padding: 1em;
    width: fit-content;
    white-space: nowrap;
}

.pTypeGrid {
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    border: 1px solid var(--pink);
}
