.zoomSubTitle {
    background-color: var(--light-purple);
    box-sizing: border-box;

    border: 2px dotted var(--purple);
    border-radius: 4px;
    padding: 1em 0.5em;
}

.descTitle {
    color: var(--purple);
    width: 100%;
    display: flex;
    align-items: center;
	gap: .3em;
}

.inputAndButton {
    display: flex;
    justify-content: space-between;
    width: 100%;
	gap: .5em;
}

.saveDesc {
    position: inherit;
    visibility: visible;
}
