.polaroidContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(7cm, 1fr));
	position: relative;
	justify-items: center;
	gap: 2em;
	padding: 4em 4em 4em 4em;
	box-sizing: border-box;
	min-height: 75vh;
}

.cardContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	gap: 2em;
	padding: 4em 4em 4em 4em;
	min-height: 75vh;
}

.miniContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: .3em;
	position: relative;
	box-sizing: border-box;
	padding: 2em .5em;
	min-height: 75vh;
}