.mini {
    background-color: aqua;
    width: 1fr;
    height: 10em;
}

.miniPhoto {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
