@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --background-color: #fbeaff;

    --purple: #845ec2;
    --pink: #d65db1;
    --pink-transparent: rgba(214, 92, 177, 0.3);
    --pink-two: #ff6f91;
    --light-purple: #fdf7ff;
    --brown: #b0a8b9;
    --white: #fff;
	--green: #00C2A8;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: var(--background-color);
}

/* width */
::-webkit-scrollbar {
    display: 0 none;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
}

.line {
	border: 1px solid var(--pink);
}